input-file {
  width: none;
  margin-bottom: none;
  padding: none;
  border: none;
  outline: none;
  font-family: none;
  background: none;
  font-size: none;
  border-radius: none;
  text-shadow: none;
  box-shadow: none;
}
.avatar {
  display: flex;
}
.img {
  width: 150px;
  border-radius: 50px;
}
.input-file {
  width: 80%;
}
